/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media screen and (min-width: 901px) and (max-width: 1400px) {

body {
background-size: 7px 7px;
background-image: repeating-linear-gradient(45deg, #d0d6ee 0, #d0d6ee 1px, #ffffff 0, #ffffff 50%);

}

.nys-wrapper-on {
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "nysmap nysmap"
    "budget officials";
}

.grid-county-mode {
   grid-template-columns: 100%;
  grid-template-areas:
    "top"
    "line"
    "county"
    "cite"
    "footer";
}

.state-name {
  font-size: 4vw;
}

.counties {
  stroke-width: .2vw;
}

.officials-header {
  font-size: 2em;
}

.vote-button {
  font-size: 2.75vw;
  margin-top:20px;
  margin-left:20px;
  margin-bottom: 20px;
}

.run-for-office-button {
  font-size: 2.75vw;
  margin-top:20px;
  margin-right:20px;
  margin-bottom: 20px;
}

.tooltip {
  font-size: 6.45vw;
  margin-top:10px;
  margin-left: 20px;
}

.hiddenTooltip {
  font-size: 6.45vw;
  margin-top: 10px;
  margin-left: 20px;
}

.return {
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
}


/* DESKTOP OFFICIALS*/

.official-image {
  padding-top: 5px;
  padding-left:15px;
  padding-bottom: 10px;
}

.official-image-circle {
  width: 7vw; 
  border: solid 0.4vw #104E8B;
}

.official-name {
  font-size: 1.5em;
  padding-left: 15px;
}

.official-title {
  font-size: 1.3em;
}

.official-party {
  font-size: 1.2em;
  margin-bottom:10px;
}

.official-term {
  font-size: 1em;
  margin-bottom:10px;
}

.official-salary {
  font-size: 1em;
  margin-bottom:10px;
}

/* DESKTOP COUNTY STYLING */

.rep-info-mobile, .staff-salaries-mobile, .staff-average-expenses-mobile, .operations-expenses-mobile, .travel-expenses-mobile, .total-expenses-mobile {
 display: none;
}

.county-clicked-mode-on {
	grid-area: county;
	grid-template-columns: 100%;
	grid-template-areas: 
	"countybudget" 
	"congressreps" 
	"statesenate"
	"assemblyreps";
	margin-top: 6vw;
}

.county-rep-title {
  font-size: 1.4em;
}

.congressreps {
    margin-left: 10px;
    margin-right: 10px;
    }

.statesenatereps {
    margin-left: 10px;
    margin-right: 10px;
    }

.assemblyreps {
    margin-left: 10px;
    margin-right: 10px;
    }

.congress-abstract {
  grid-column: 1 / span 7; 
  font-size: .9em;
  padding: 12px 40px 12px 40px;
}

.rep-info {font-size: 1em;}
.county-salary {font-size: 1em;}
.staff-salaries {font-size: 1em;}
.staff-average-expenses {font-size: 1em;}
.operations-expenses {font-size: 1em;}
.travel-expenses {font-size: 1em;}
.total-expenses {font-size: 1em;}

.representative-name { font-size: 1.3em; }
.representative-party { font-size: 1.1em;}
.representative-district { font-size: .85em;}
.representative-start { font-size: 1em;}
.representative-phone { font-size: 1em; }
.representative-next-vote { font-size: 1em;}
.representative-email { font-size: 1em;}

.expensediv-salary { background-color: #eff2f5; }
.expensediv-staff { background-color: white ; }
.expensediv-staff-average { background-color: #eff2f5; }
.expensediv-operations { background-color: white; }
.expensediv-travel { background-color: #eff2f5; }
.expensediv-total { background-color:#d0d8e2; }

.salary {font-size: 1.35em;}
.staff {font-size: 1.35em;}
.staff-average {font-size: 1.35em;}
.operations {font-size: 1.35em;}
.travel {font-size: 1.35em;}
.total {font-size: 1.35em;}

.benchmarks-staff { font-size: .9em; padding-top: 5px;}
.benchmarks-staff-average { font-size: .9em; padding-top: 5px;}
.benchmarks-ops { font-size: .9em; padding-top: 5px;}
.benchmarks-travel { font-size: .9em; padding-top: 5px;}
.benchmarks-total { font-size: .9em; padding-top: 5px;}

/* BOTTOM OF THE PAGE */

.data-sources { 
	font-size: 2em;
  font-weight: 500;
}

.nys-cite {
	font-size: 1em;
}

.footer {
	font-size: 1em;
}

/* \/ DONT DELETE THIS LITTLE BRACKET!!!! \/ */
}
/* ^ DONT DELETE THIS LITTLE BRACKET!!!! ^ */
